body {
  overscroll-behavior-x: none;
}

#content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

#nextDownArrow {
  position: absolute;
  bottom: 0.8em;
  text-align: center;
  width: 100%;
  font-size: 4em;
  color: white;
  -webkit-animation: action 1s ease infinite alternate;
  animation: action 1s ease infinite alternate;
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0.5em);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0.5em);
  }
}

#nextDownArrow i {
  cursor: pointer;
}

#navBar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4em;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(2px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}
#navBar ul {
  height: 100%;
  align-items: center;
  list-style-type: none;
  display: flex;
}
#navBar ul li span {
  display: inline-block;
  /* height: 100%; */
  margin: 1em;
  position: relative;
  color: white;
  font-size: 1.4em;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: 0.5s;
  /* border-bottom: 1px solid white; */
}
#navBar ul li span::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 1px;
  left: 0;
  top: 100%;
  background: rgba(218, 214, 214, 0.7);
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
#navBar ul li span:hover,#navBar ul li span.hover {
  /* transform: scale(); */
  color: rgba(221, 221, 221, 0.822);
}
#navBar ul li span:hover::after, #navBar ul li span.hover::after {
  transform: scaleX(1);
  transform-origin: left;
  background: rgba(218, 214, 214, 0.7);
}
#navBar ul li{
  transform: scale(0.25);
}
/* #nextDownArrow,
.container-typing, */
#navBar,
#navBar ul li {
  display: none;
}
