body {
  /* overscroll-behavior: none; */
  font-family: 'Montserrat', sans-serif;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
}

#content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

#nextDownArrow {
  position: absolute;
  bottom: 0.2em;
  text-align: center;
  width: 100%;
  font-size: 4em;
  color: white;
  -webkit-animation: action 1s ease infinite alternate;
  animation: action 1s ease infinite alternate;
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0.5em);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0.5em);
  }
}

#nextDownArrow svg {
  cursor: pointer;
  width: 1.3em;
  height: auto;
}

#navBar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4em;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}
#navBar ul {
  height: 100%;
  align-items: center;
  list-style-type: none;
  display: flex;
}
#navBar ul li span {
  margin: 1em;
  position: relative;
  color: white;
  font-size: 1.4em;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
  /* border-bottom: 1px solid white; */
}
#navBar ul li span::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 1px;
  left: 0;
  top: 100%;
  background: rgba(218, 214, 214, 0.7);
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
#navBar ul li span:hover,
#navBar ul li span.hover {
  /* transform: scale(); */
  color: rgba(221, 221, 221, 0.959);
}
#navBar ul li span:hover::after,
#navBar ul li span.hover::after {
  transform: scaleX(1);
  transform-origin: left;
  background: rgba(218, 214, 214, 0.7);
}
#navBar ul li {
  transform: scale(0.25);
}
/* #nextDownArrow,
.container-typing, */
#navBar,
#navBar ul li {
  display: none;
}

#menuButton {
  display: none;
}

#menuButton svg {
  width: 2.2em;
  height: auto;
  cursor: pointer;
  margin: 0em 1em 0em 0em;
  /* transition: ease 0.5s; */
}

#menuButton svg:hover {
  /* transform: rotate(90deg); */
}

#profileImage {
  margin-top: 1em;
  height: 11em;
  width: 11em;
  border-radius: 50%;
  overflow: hidden;
  filter: drop-shadow(rgba(255, 255, 255, 0.2) 0px 3px 3px);
  -webkit-filter: drop-shadow(rgba(255, 255, 255, 0.2) 0px 3px 3px);
}

#profileImage img {
  transition: 1.75s ease;
  border: 1px solid rgba(255, 255, 255, 0.329);
  width: 11em;
  height: 11em;
  opacity: 0.8;
  transform: scale(1.03);
}

#profileImage img:hover,
#profileImage img.hover {
  transform: scale(1.6);
  opacity: 1;
}

#profileDescription {
  color: white;
  margin: 1em;
  text-align: justify;
  line-height: 1.5;
}

#location {
  color: white;
  cursor: default;
  text-align: center;
  margin-top: -0.9em;
}

.about {
  height: calc(100% - 6em);
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 1em; */
  padding: 1em;
  /* transform: translateY(100%); */
  /* overflow-x: auto;
  overflow-y: visible; */
}

#profileDescription {
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 18em;
  /* min-height: 18em; */
}
.about #aboutBox {
  width: 25em;
  min-width: 18.5em;
  /* min-height: 30em; */
  max-height: 97%;
  /* margin-top: 4em; */
  /* justify-content: center; */
  border: 2px solid rgba(255, 255, 255, 0.555);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  overflow-y: hidden;
  overflow-x: auto;
}

.about #aboutBox #pictureBox {
  /* width: 20em; */
  display: flex;
  justify-content: center;
}

.about #name {
  text-align: center;
  margin-top: 0.3em;
  color: white;
  font-size: 2em;
}

#currentPosition {
  font-size: 1.75em;
  cursor: default;
}

.projects {
  height: calc(100% - 6em);
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 1em; */
  padding: 1em;
  /* transform: translateY(200%); */
  /* overflow-x: auto;
  overflow-y: visible; */
}

.projects #projectsBox {
  width: 25em;
  min-width: 18.5em;
  /* min-height: 30em; */
  max-height: 97%;
  /* margin-top: 4em; */
  /* justify-content: center; */
  border: 2px solid rgba(255, 255, 255, 0.555);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  overflow-y: hidden;
  overflow-x: auto;
}

#projectsBoxHeading {
  padding: 0.8em;
  color: white;
  font-size: 1.7em;
  text-align: center;
}

#projectsList {
  text-align: center;
}

#project {
  margin: 0.8em;
}

#projectName {
  font-size: 1.3em;
}

#projectDescription {
  text-align: justify;
  line-height: 1.5;
}

#projectLinks {
  margin: 0.2em;
  font-size: 2em;
}

#projectsNavigation {
  margin-top: -1em;
  height: 3.5em;
}

#previousProject {
  position: absolute;
  left: 1em;
  display: none;
}
#nextProject {
  position: absolute;
  right: 1em;
}

#previousProject svg,
#nextProject svg {
  margin: 0.3em 0em 1em 0em;
  width: 2em;
  height: auto;
  cursor: pointer;
}

#projectLinks i {
  margin: 0.3em 0.5em 0em 0.5em;
  cursor: pointer;
}

#projectsBox * {
  color: white;
}

@media only screen and (max-width: 700px) {
  #navBar ul {
    display: block;
  }
  #navBar ul li {
    padding: 1em;
  }
  #menuButton {
    display: flex;
    margin: 1em 1em 1em 2em;
    color: white;
  }
}

@media only screen and (max-width: 358px), (max-height: 630px) {
  #profileDescription {
    font-size: small;
  }
}
@media only screen and (max-width: 358px), (max-height: 630px) {
  #profileDescription {
    font-size: small;
  }
}

@media only screen and (max-height: 510px) {
  #profileImage img {
    width: 5em;
    height: 5em;
  }
  #profileImage {
    width: 5em;
    height: 5em;
  }
  .about #name {
    font-size: medium;
  }
  .about #location {
    font-size: small;
  }
  #aboutBox {
    max-width: 95%;
    display: flex;
  }
  #pictureBox {
    width: 30em;
  }
  #projectsBox {
    max-width: 95%;
    display: flex;
  }
  #projectDescription {
    font-size: 0.87em;
  }
  #projectName {
    font-size: 0.87em;
  }
  #projectsBoxHeading {
    font-size: 1.3em;
  }
  #projectsNavigation svg {
    width: 1.5em;
  }
  #projectLinks i {
    font-size: 0.85em;
  }
}

@media only screen and (max-height: 370px) {
  #projectDescription {
    font-size: 0.65em;
  }
  #projectName {
    font-size: 0.8em;
  }
  #projectsBoxHeading {
    font-size: 1.2em;
  }
  #projectsNavigation svg {
    width: 1.3em;
  }
  #projectLinks i {
    font-size: 0.7em;
  }
}

@-moz-document url-prefix() {
  .container-theme-toggle {
    top: 0;
  }
}
