.layout-theme-toggle {
  width: 70vw;
  max-width: 300px;
  min-width: 250px;
  height: 30vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 25px;
}

.layout-theme-toggle:nth-child(1) {
  text-align: right;
}

#toggle-theme-svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
  filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.048));
  -webkit-filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.048));
}

#night-content-theme-toggle {
  opacity: 0.5;
}

.inner-shadow-theme-toggle {
  stroke-opacity: 0.1;
  stroke-width: 5;
  stroke: black;
  fill: none;
}

.container-theme-toggle input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container-theme-toggle {
  /* margin-top: -6.5em; */
  position: absolute;
}

#themeToggle {
  position: absolute;
  top: 1em;
  right: 1em;
  height: 2.5em;
  width: 4em;
}
