body {
  /* overscroll-behavior: none; */
  font-family: 'Montserrat', sans-serif;
}

#content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

#nextDownArrow {
  position: absolute;
  bottom: 0.8em;
  text-align: center;
  width: 100%;
  font-size: 4em;
  color: white;
  -webkit-animation: action 1s ease infinite alternate;
  animation: action 1s ease infinite alternate;
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0.5em);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0.5em);
  }
}

#nextDownArrow svg {
  cursor: pointer;
  width: 1.3em;
  height: auto;
}

#navBar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4em;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}
#navBar ul {
  height: 100%;
  align-items: center;
  list-style-type: none;
  display: flex;
}
#navBar ul li span {
  margin: 1em;
  position: relative;
  color: white;
  font-size: 1.4em;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
  /* border-bottom: 1px solid white; */
}
#navBar ul li span::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 1px;
  left: 0;
  top: 100%;
  background: rgba(218, 214, 214, 0.7);
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
#navBar ul li span:hover,
#navBar ul li span.hover {
  /* transform: scale(); */
  color: rgba(221, 221, 221, 0.959);
}
#navBar ul li span:hover::after,
#navBar ul li span.hover::after {
  transform: scaleX(1);
  transform-origin: left;
  background: rgba(218, 214, 214, 0.7);
}
#navBar ul li {
  transform: scale(0.25);
}
/* #nextDownArrow,
.container-typing, */
#navBar,
#navBar ul li {
  display: none;
}

#menuButton {
  display: none;
}

#menuButton svg {
  width: 2.2em;
  height: auto;
  cursor: pointer;
}

#profileImage {
  margin-top: 1em;
  height: 11em;
  width: 11em;
  border-radius: 50%;
  overflow: hidden;
  filter: drop-shadow(rgba(255, 255, 255, 0.2) 0px 3px 3px);
  -webkit-filter: drop-shadow(rgba(255, 255, 255, 0.2) 0px 3px 3px);
}

#profileImage img {
  transition: 1.75s ease;
  border: 1px solid rgba(255, 255, 255, 0.329);
  width: 11em;
  height: 11em;
  opacity: 0.8;
  transform: scale(1.03);
}

#profileImage img:hover {
  transform: scale(1.6);
  opacity: 1;
}

.about {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  transform: translateY(100%);
}

.about #aboutBox {
  width: 25em;
  min-width: 12em;
  min-height: 30em;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.555);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.about #aboutBox #pictureBox {
  /* width: 20em; */
  display: flex;
  justify-content: center;
}

.about #name {
  text-align: center;
  margin-top: .3em;
  color: white;
  font-size: 2em;
}

@media only screen and (max-width: 700px) {
  #navBar ul {
    display: block;
  }
  #navBar ul li {
    padding: 1em;
  }
  #menuButton {
    display: block;
    margin: 1em 1em 1em 2em;
    color: white;
  }
}
